
    <div class="row">
        <div class="col-md-8">
            <div class="card-body">
<form id="form"> 
    <input type="search" id="query" name="q" placeholder="Search">
    <button>Search</button>
  </form>
            </div></div>
<% layout('layouts/boilerplate')%>
    <div id="cluster-map"></div>
    <h1 class="my-4">Records</h1>

    <ul>
        <% for (let record of records){%>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                Disease : <%= record.disease %>
                            </h5>
                            <p class="card-text">
                                Symptoms : <%= record.symptoms%>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    Description : <%= record.description%>
                                </small>
                            </p>
                            <a class="btn btn-primary" href="/records/<%=record._id%>">View
                                 Record
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <% }%>
    </ul>